<html>
<body>
<Centre>
<br><br><br><br>
<font size="6" face="high tower text">Welcome, {{user}}</font>
<br><br>
<font face="high tower text" size="5"> HOME PAGE
<table width = "25%" cellpadding="10">
<tr>
<td><br><br><form action="{{node_address}}/addproducer1"> <input type="submit" value="Add producer"> </form> </td>
<td><br><br><form action="{{node_address}}/addretailer1"> <input type="submit" value="Add retailer"> </form> </button> </td>
<td><br><br><form action="{{node_address}}/addminer1"> <input type="submit" value="Add Miner"> </form> </button> </td>
</tr>
<tr>
<td><br><br><form action="{{node_address}}/addldc1"> <input type="submit" value="Add LDC"> </form> </button> </td>
<td><br><br><form action="{{node_address}}/display"> <input type="submit" value="Display chain"> </form> </button> </td> </tr><tr>
<td><br><br><form action="{{node_address}}/backadminhome"> <input type="submit" value="BACK"> </form> </button> </td>
</tr> 
</table>
</font>
</body>
</html>

