<html>
<body>
<Centre>
<br><br><br><br>
<font size="6" face="high tower text">Welcome, {{user}}</font>
<br><br>
<font face="high tower text" size="5"> HOME PAGE
<table width = "25%" cellpadding="10">
<tr>
<td><br><br><form action="{{node_address}}/addproduct1"> <input type="submit" value="Add Product"> </form> </td>
<td><br><br><form action="{{node_address}}/viewproduct1"> <input type="submit" value="View Products"> </form> </button> </td></tr>
<tr>
<td><br><br><form action="{{node_address}}/addnewbatch1"> <input type="submit" value="New Batch"> </form> </button> </td>
<td><br><br><form action="{{node_address}}/sellnewbatch1"> <input type="submit" value="Dispatch Batch"> </form> </button> </td>
<td><br><br><form action="{{node_address}}/display"> <input type="submit" value="Display Chain"> </form> </button> </td>
</tr> 
<tr>
<td><br><br><form action="{{node_address}}/backldchome"> <input type="submit" value="BACK"> </form> </button> </td>
</tr> 
</table>
</font>
</body></html>

