<html>
<body>
<Centre>
<br><br><br><br>
<font size="6" face="high tower text">Welcome, {{user}}</font>
<br><br>
<font face="high tower text" size="5"> HOME PAGE
<table width = "25%" cellpadding="10">
<tr>
<td><br><br><form action="{{node_address}}/pending_tx"> <input type="submit" value="Display unconfirmed transactions"> </form> </td>
<td><br><br><form action="{{node_address}}/display"> <input type="submit" value="Display Chain"> </form> </button> </td>
</tr>
<tr>
<td><br><br><form action="{{node_address}}/mine"> <input type="submit" value="Mine"> </form> </button> </td>
</tr> 
<tr>
<td><br><br><form action="{{node_address}}/backminerhome"> <input type="submit" value="BACK"> </form> </button> </td>
</tr> 
</table>
</font>
</body>
</html>

