<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
	<br>
	<Centre>
<h1> Product Details: </h1>
	<form action="/viewproduct" id="textform" method="post">
	   Product ID: <select name="ids">
{% for worker in ids %} 
<option value="{{worker[0]}}">{{worker[0]}}</option>
{% endfor %} <br>
</select>
<input type="submit" value="VIEW">
	</form>
<form action="/backviewproduct">
<input type="submit" value="BACK"> </form>
	</Centre>
<br>
	<div style="margin: 20px;"> 
	<style>
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>
    </div>
{% endblock %}

